<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Owl: <%=content.name%></title>
  </head>
  <body>
    <h2>Welcome to <%=content.name%>'s profile!</h2>
    <h4>Owl Info</h4>
    <ul>
      <li></li>

    </ul>
  </body>
</html>
