<html>
  <title>Session Counter</title>
  <body>
      <p><%=content%></p>
      <form action="/add" method="post">
        <input type="submit" value="+2">
      </form>
      <form action="/reset" method="post">
        <input type="submit" value="Reset">
      </form>
  </body>
</html>
