<h2>Welcome to Quoting Dojo</h2>
<form action="/quotes" method="POST">
  <p><label>Your Name:</label><input type="text" name="name" placeholder="Enter Name"></p>
  <p><label>Quote:</label><textarea name="quote" cols="30" rows="10"></textarea></p>
  <input type="submit" value="Add my quote!">
</form>
<form action="/quotes" method="GET"><input type="submit" value="Skip to quotes!"></form>
