<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>QuotingDojo</title>
  </head>
  <body>
    <h2>Here are the awesome Quotes</h2>

      <%for(var i = 0; i < content.length; i++){%>
        <blockquote cite="<%=content[i].name%>">
          "<%=content[i].quote%>"
        </blockquote>
        <p><%=content[i].name%> at <%=content[i].createdAt%></p>
        <hr>
        <%}%>
  </body>
</html>
